body {
	background-image: url('back.png');
	margin: 0 auto; 
	max-width: 100%;
}
div {
	padding: 0px;
}
h4 {
	text-align: center;
	color: black;
}
.header {
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
	background: skyblue;
	min-height: 177px;
	max-height: 177px;
	min-width: 100%;
	max-width: 100%;
	line-height: 130px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.container { 
	display: flex;
	justify-content: center;
	clear: both;
	}
  .black {
	background: black;
	color:black;
	display: flex;
	clear: both;
	flex-direction: column;
	min-width: 68%;
	max-width: 68%;
  }
  .black2 {
	background: black;
	display: flex;
	clear: both;
	flex-direction: column;
	min-width: 15%;
	max-width: 15%;
  }
  .green {
	background: lightgreen;
	clear: both;
	min-height: 40px;
	max-height: 40px;
    padding: 10px;
  }
  .green2 {
	background: lightgreen;
	clear: both;
	max-height: 40px;
	min-height: 40px;
    padding: 10px;
  }
  .gray{
	background: lightgray;
	clear: both;
	min-height: 495px;
    padding: 10px;
  }
  .yellow {
	background: rgb(240, 209, 174);
	clear: both;
	min-height: 545px;
	min-width: 15%;
	max-width: 15%;
    padding: 10px;
  }
  .yellow2 {
	background: rgb(240, 209, 174);
	clear: both;
	min-height: 495px;
    padding: 10px;
  }
  .container div {
	clear: both;
	font-size: 16px;
	flex: 1;
  }
.footer {
	background: skyblue;
	margin-top: 10px;
	clear: both;
	min-height: 170px;
	min-width: 100%;
	max-width: 100%;
	line-height: 130px;
	text-align: left;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}