body {
	background-image: url('back.png');
	margin: 0 auto; 
}
div {
	padding: 5px 15px;
}
h4 {
	text-align: center;
}
.header {
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
	background: skyblue;
	min-height: 170px;
	max-height: 170px;
	line-height: 130px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.sidebar {
	background: rgb(240, 209, 174);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 545px;
	min-width: 250px;
	max-width: 250px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.sidebar1 {
	background: rgb(240, 209, 174);
	float: right;
	margin-left: 10px;
	min-height: 495px;
	min-width: 250px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.sidebar2 {
	background: lightgreen;
	float: right;
	margin-left: 50px;
	min-height: 30px;
	max-height: 30px;
	min-width: 250px;
	clear: right;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.container {
	background: lightgreen;
	min-height: 30px;
	max-height: 30px;
	max-width: 1300px;
	margin-left: 15%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.container_1 {
	background: lightgrey;
	min-height: 495px;
	max-height: 495px;
	max-width: 1300px;
	margin-left: 15%;
	margin-bottom: 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.footer {
	background: skyblue;
	margin-top: 10px;
	clear: both;
	min-height: 170px;
	line-height: 130px;
	text-align: left;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}