body {
	background-image: url('back.png');
	margin: 0 auto; 
	max-width: 100%;
}
div {
	padding: 0px;
}
h4 {
	text-align: center;
	color: black;
}
.header {
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
	background: skyblue;
	min-height: 177px;
	max-height: 177px;
	min-width: 100%;
	max-width: 100%;
	line-height: 130px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}
.leftstr, .rightstr {
	float: left;
	width: 49%;
}
.rightstr {
	text-align: right;
	margin-top: 1.5%;
}
.leftstr{
	padding-left: 1%;
}
.leftstr1, .rightstr1 {
	float: left;
	width: 49%;
}
.leftstr1{
	margin-top: 1.5%;
	padding-left: 1%;
}
.rightstr1 {
	text-align: right;
}
.grid { 
	display: grid;
	height: 59em;
	clear: both;
	grid-template-rows: 100%;
	grid-template-columns: 1fr 4fr 1fr;
	grid-gap: 1vw;
	}
  .grid > div {
	background: rgb(240, 209, 174);
  }
  .grid2 { 
	display: grid;
	grid-template-rows: 7%;
	}
  .grid2 > div {
	background: lightgreen;
  }
  .grid4 { 
	display: grid;
	grid-template-rows: 100%;
	}
  .grid4 > div {
	background: lightgrey;
  }
  .grid3 { 
	display: grid;
	grid-template-rows: 93%;
	}
  .grid3 > div {
	background: lightgreen;
  }
.footer {
	background: skyblue;
	margin-top: 10px;
	clear: both;
	min-height: 170px;
	min-width: 100%;
	max-width: 100%;
	line-height: 130px;
	text-align: left;
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.71);
}